<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Gerard Moss</string>
		<key>short</key>
		<string>German Holocaust Survivor</string>
		<key>long</key>
		<string>Gerard Moss was held in Dachau for three-and-a-half weeks. He went to Israel after Kristallnacht with the UK Army Royal Engineers. When he came to the United States, he became a CPA.</string>
		<key>image</key>
		<string>GerardMoss.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Charlotte Hirsch Garfield</string>
		<key>short</key>
		<string>German Holocaust Survivor</string>
		<key>long</key>
		<string>In 1935, Charlotte Hirsch Garfield’s father was told he could not practice as a pharmacist anymore. In 1938, she had to leave school. Her father decided to leave Hamburg, Germany, and the family came to New York by ship in September 1938. In October, Kristallnacht took place.</string>
		<key>image</key>
		<string>CharlotteHirschGarfield.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sheila Marcus</string>
		<key>short</key>
		<string>German Holocaust Survivor</string>
		<key>long</key>
		<string>Sheila Marcus was born in Hanover, Germany, the year after the war. Her parents were survivors of the Holocaust.</string>
		<key>image</key>
		<string>SheilaMarcus.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Susan Bergman</string>
		<key>short</key>
		<string>German Holocaust Survivor</string>
		<key>long</key>
		<string>Susan Bergman was a child survivor. Her mother was in Dachau, and her father was in another camp.</string>
		<key>image</key>
		<string>SusanBergman.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>William Bernheim</string>
		<key>short</key>
		<string>German Holocaust Survivor</string>
		<key>long</key>
		<string>William Bernheim worked in the Lodz ammunitions factory for five years. He survived Buchenwald. Today, he is a famous artist.</string>
		<key>image</key>
		<string>WilliamBernheim.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Lya Quitt</string>
		<key>short</key>
		<string>German Holocaust Survivor</string>
		<key>long</key>
		<string>Lya Quitt (Haberman) was born in Berlin in 1928. She was caught by Germans and told the soldiers that she spoke five languages. The Catholic church in Florence, Italy, saved her, and she went from Italy to Palestine in 1944 where she got married. She came to the United States when her husband became ill. She is mentioned in the book Holocaust Odyssey.</string>
		<key>image</key>
		<string>LyaQuitt.jpg</string>
	</dict>
</array>
</plist>
