<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Gabor Farkus</string>
		<key>short</key>
		<string>Hungarian Holocaust Survivor</string>
		<key>long</key>
		<string>Gabor Farkus was born in Budapest, Hungary in 1938. He hid with his mother and sister in a nursing home, formerly a Jewish hospital. He was liberated from the nursing home. He also believes Wallenberg intervened on another occasion when he was marched to a race track. He came to the United States in 1963 and did electrical work. He spent six years in Israel and was in the Israeli Army from 1958 to 1959.</string>
		<key>image</key>
		<string>GaborFarkus.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Eugene Lebovitz</string>
		<key>short</key>
		<string>Hungarian Holocaust Survivor</string>
		<key>long</key>
		<string>Eugene Lebovitz survived four concentration camps. Most of his family died in Auschwitz. He currently hosts his own event in Las Vegas called Celebration of the Generation.</string>
		<key>image</key>
		<string>EugeneLebovitz.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Aranka Siegel</string>
		<key>short</key>
		<string>Hungarian Holocaust Survivor</string>
		<key>long</key>
		<string>Aranka Siegel was born in Hungary in 1930. She was taken to Auschwitz from the Beregszasz Ghetto when she was thirteen years old. She was part of the death march from Christianstadt to Bergen-Belsen, from where she was liberated. She came to the United States when she was eighteen years old. She has published three books and has been teaching for thirteen years. She is sister to Violet Sloan, another survivor. She visited Israel in 1970.</string>
		<key>image</key>
		<string>ArankaSiegel.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Vera Goldsmith</string>
		<key>short</key>
		<string>Hungarian Holocaust Survivor</string>
		<key>long</key>
		<string>Vera Goldsmith was born in Budapest, Hungary, in 1934.  She was rescued by Raoul Wallenberg and was protected before going into a ghetto for two months. She describes being scared all of the time. Her mother died, but some other family members survived. She was liberated in Budapest and came to the United States in 1956 after the Hungarian Revolution. She married her husband Mike in Hungary in 1955. She has visited Israel.</string>
		<key>image</key>
		<string>VeraGoldsmith.jpg.jpeg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Yaffa Eisner</string>
		<key>short</key>
		<string>Hungarian Holocaust Survivor</string>
		<key>long</key>
		<string>Yaffa Eisner was born in Budapest in 1937. When she came to the United States, she became a kindergarten teacher. She visited Israel in 1961. Her father, a rabbi, died in 1943.</string>
		<key>image</key>
		<string>YaffaEisner.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Francis &amp; Saul Blau</string>
		<key>short</key>
		<string>Hungarian Holocaust Survivors</string>
		<key>long</key>
		<string>Francis Blau and Saul Blau were born in Hungary. They survived Auschwitz and Buchenwald. They had seven siblings and only five survived.  </string>
		<key>image</key>
		<string>FrancisSaulBlau.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Mike Goldsmith</string>
		<key>short</key>
		<string>Hungarian Holocaust Survivor</string>
		<key>long</key>
		<string>Mike Goldsmith was born in Hungary in 1927. He spent time in the Sopron Ghetto and the forced labor camps of Sachsenhausen, Ohrduf, and Ludwigslust. He was tattooed at Auschwitz and spent some time in Ravensbruck. He was liberated by the American army at Ludwigslust. He met his wife, a survivor in Budapest, Hungary in 1955, and came to the United States in 1956 when the Hungarian Revolution took place. He lost his mother, brother, and about thirty family members in the Holocaust.</string>
		<key>image</key>
		<string>MikeGoldsmith.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Miriam Schwartz</string>
		<key>short</key>
		<string>Hungarian Holocaust Survivor</string>
		<key>long</key>
		<string>Miriam Schwartz was born in Hungary in 1940. She remembers that the Red Cross liberated her in Budapest and took her to France.  She came to the United States in 1962 after living in Israel from 1950-1962. Her sister was in Auschwitz.</string>
		<key>image</key>
		<string>MiriamSchwartz.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Jonas Roth</string>
		<key>short</key>
		<string>Hungarian Holocaust Survivor</string>
		<key>long</key>
		<string>Jonas Roth worked sorting clothes and jackets in a labor camp near Budapest. At the end of November 1944, he was taken to the railroad station and went to Austria and was put on a death march. He survived and was liberated from Mauthausen. He came to Montreal, Canada, in 1948 and then moved to New York where he met a friend who had provided food for him and had hidden him in a camp he was in.</string>
		<key>image</key>
		<string>JonasRoth.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Olga Gunz</string>
		<key>short</key>
		<string>Hungarian Holocaust Survivor</string>
		<key>long</key>
		<string>Olga Gunz was born in Hungary and survived a forced labor camp in Austria. At the end of the war, her family left at night and ran to the basement of a hospital. She has visited Israel many times, and she lived in London for 48 years before coming to the United States. Olga has lectured at the Holocaust Museum in Miami for many years.</string>
		<key>image</key>
		<string>OlgaGunz.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Victor Farkus</string>
		<key>short</key>
		<string>Hungarian Holocaust Survivor</string>
		<key>long</key>
		<string>Victor Farkus was born in 1927 in Debrecen, Hungary.</string>
		<key>image</key>
		<string>victorFarkus.jpg.jpeg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Rose Gross</string>
		<key>short</key>
		<string>Hungarian Holocaust Survivor</string>
		<key>long</key>
		<string>Rose Gross was born in Hungary in 1928. Only she and her sister survived the Holocaust out of the nine children in her family. She lived in the Sátoraljaujhely Ghetto before going to Auschwitz where she collected stone. She was also held in Bergen-Belsen and Mauthausen camps for some time. She worked sewing in Krakow, was in Gross Rosen for three days, and then worked in an ammunitions factory in Breslau. Rose suffered from typhus. She was liberated by the British from Bergen-Belsen and came to Canada in 1953 with $5. She visits the United States in the winter. Her sister hid in Budapest.</string>
		<key>image</key>
		<string>RoseGross.jpg</string>
	</dict>
</array>
</plist>
