<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Miriam Brejt</string>
		<key>short</key>
		<string>Romanian Holocaust Survivor</string>
		<key>long</key>
		<string>Miriam Brejt was born in Romania in 1935. She survived a concentration camp in the Ukraine and her family went through many hardships living in a ghetto. After her father had typhus, her family lived with a Christian family for some time. Miriam said, “You lose hope, you lose everything.” After the war, Miriam took the first ship going from there to Israel, and she was there for Israel’s independence.</string>
		<key>image</key>
		<string>MiriamBrejt.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Arnold Buxbaum</string>
		<key>short</key>
		<string>Romanian Holocaust Survivor</string>
		<key>long</key>
		<string>Arnold Buxbaum survived four camps in Romania where he was born. He was part of a death march when he was deported to Transnistria in 1941. He was liberated by the Russian army in 1944 and came to live in Toronto, Canada, in 1962.</string>
		<key>image</key>
		<string>ArnoldBuxbaum.jpg</string>
	</dict>
</array>
</plist>
